svg{
	border: 1px solid;
	width: 600px;
	height: 400px;
}

rect{
	x:100px;
	y:50px;
	width: 200px;
	height: 80px;
	fill: #c4c4c4;
}

.rect2{
	x:100px;
	y:160px;
	width: 200px;
	height: 80px;
	fill: hotpink;
	stroke: red;
	stroke-width:5px;
	stroke-linejoin: bevel;
}
.rect3{
	x:200px;
	y:70px;
	width:200px;
	height: 80px;
	fill: orange;

}
/* cx es el centro del 
circulo*/
circle{
	cx: 500px;
	cy:200px;
	r:80px;
	fill: #742748;
	stroke: orange;
	stroke-width:5px;

}	

ellipse{
	cx: 300px;
	cy:300px;
	rx:100px;
	ry:50px;
	fill: #503214;
}

/*---------------------------------*/

svg .ejemplo2{
	border: 1px solid ;
	width: 600px;
	height: 400px;
}

 .ejemplo2  .linea{

	stroke: #ed625e;
	stroke-width:40px;
	stroke-linecap:round; 
}

.linea2{

	stroke: #fff;

}

.linea3{
	stroke: blue;
	stroke-width:2px;
}

.linea4{
	fill: none;
	stroke: #742744;
	stroke-width:4px;
}

.linea5{
	
	stroke: blue;
	stroke-width:4px;
}

.linea6{
	fill: #742748;
}